version: 2.1
orbs:
  win: circleci/windows@4.1
jobs:
  build:
    machine:
      image: "windows-server-2019-vs2019:2024.12.1"
      resource_class: windows.large
      shell: powershell.exe -ExecutionPolicy Bypass
    steps:
      - run: >-
          docker run --rm -v "$(pwd):C:\gh" ghcr.io/nerixyz/ci-windows-2019:1751293906 cmd /C "
          git clone https://github.com/Nerixyz/llvm-project --depth 1 --branch premerge-windows-make &&
          cd llvm-project && 
          set MAX_PARALLEL_LINK_JOBS=4 &&
          call C:\\BuildTools\\Common7\\Tools\\VsDevCmd.bat -arch=amd64 -host_arch=amd64 && 
          bash .ci/monolithic-windows.sh "llvm;clang;lld;lldb" check-lldb
          "
workflows:
  my-workflow:
    jobs:
      - build
