---
name: Test

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  TWITCH_PUBSUB_SERVER_TAG: v1.0.11

concurrency:
  group: test-macos-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
            macos-latest,
            # ubuntu-latest,
            # windows-latest
          ]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes-from-devshell: true
          script: |
            go get && go build
            cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -B build
            cmake --build build
            ./test-mini-cpp-project 127.0.0.1:9050 &
            sleep 3
            cd build
            ctest -V --repeat until-fail:1000
