---
name: clang-tidy

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  clang-tidy:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v4

      - run: |
          echo "---- PATH ----"
          $Env:PATH
          echo "---- INSTALL ----"
          choco install make
          echo "--------"
          where.exe make
          echo "--------"
          ls C:\ProgramData\Chocolatey\bin
        shell: powershell
