---
name: Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

env:
  TWITCH_PUBSUB_SERVER_TAG: v1.0.10

concurrency:
  group: test-macos-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Install Qt6
        uses: jurplel/install-qt-action@v4.1.1
        with:
          cache: true
          cache-key-prefix: ${{ runner.os }}-QtCache
          version: 6.7.1

      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - run: go get -v -t && go build

      - if: startsWith(matrix.os, 'macos')
        run: brew install openssl cmake boost
      - if: startsWith(matrix.os, 'windows')
        uses: ilammy/msvc-dev-cmd@v1.13.0
      - if: startsWith(matrix.os, 'windows')
        run: choco install openssl
      - if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt update && sudo apt install cmake build-essential libssl-dev

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5

      - name: Install Conan
        run: |
          uv tool install conan
          conan --version
          conan profile detect

      - name: Build
        run: |
          mkdir build-test
          cd build-test
          conan install .. --output-folder=. -b missing -s build_type=Debug -o with_boost=${{ startsWith(matrix.os, 'macos') && 'False' || 'True' }}
          cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE="conan_toolchain.cmake" ..
          cmake --build .

      - name: Test
        timeout-minutes: 10
        run: |
          ./test-mini-cpp-project 127.0.0.1:9050 &
          cd build-test
          sleep 3
          ctest -V --repeat until-fail:1000 ${{ startsWith(matrix.os, 'windows') && '-C Debug' || '' }}
