---
name: clang-tidy

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

env:
  TWITCH_PUBSUB_SERVER_TAG: v1.0.10

concurrency:
  group: test-macos-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clang-tidy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]

    steps:
      - uses: actions/checkout@v4

      - run: brew install openssl cmake boost
      - name: Build
        run: |
          mkdir build-test
          cd build-test
          cmake \
              -DCMAKE_BUILD_TYPE=Debug \
              ..
          make -j"$(sysctl -n hw.logicalcpu)"

      - name: Download and extract Twitch PubSub Server Test
        run: |
          mkdir pubsub-server-test
          curl -L -o pubsub-server.tar.gz "https://github.com/Chatterino/twitch-pubsub-server-test/releases/download/${{ env.TWITCH_PUBSUB_SERVER_TAG }}/server-${{ env.TWITCH_PUBSUB_SERVER_TAG }}-darwin-amd64.tar.gz"
          tar -xzf pubsub-server.tar.gz -C pubsub-server-test
          rm pubsub-server.tar.gz
          cd pubsub-server-test
          cd ..

      - name: Test
        timeout-minutes: 30
        run: |
          cd ../pubsub-server-test
          ./server 127.0.0.1:9050 127.0.0.1:9052 &
          cd ../build-test
          sleep 3
          ctest -V --repeat until-fail:100 -j1 --test-timeout 2
        working-directory: build-test
