---
name: clang-tidy

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  clang-tidy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0 # allows for tags access

      # LINUX
      - name: Install dependencies (Ubuntu)
        run: |
          sudo apt-get update
          sudo apt-get -y install cmake build-essential

      - name: clang-tidy review
        timeout-minutes: 20
        uses: Nerixyz/clang-tidy-review@749df926e9952f441246c895454c1d7b0fef6321
        with:
          include: src/main.cpp
          build_dir: build
          config_file: ".clang-tidy"
          split_workflow: true
          error_action: abort

      - name: clang-tidy-review upload
        uses: Nerixyz/clang-tidy-review/upload@749df926e9952f441246c895454c1d7b0fef6321
