---
name: clang-tidy

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  clang-tidy:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v4

      - run: |
          echo "---- BEFORE ----"
          $Env:PATH
          echo "---- DURING ----"
          choco install make
          echo "---- AFTER (nothing should change) ----"
          $Env:PATH
          echo "--------"
          where.exe make
        shell: powershell
