---
name: clang-tidy

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  clang-tidy:
    runs-on: windows-2019

    steps:
      - run: |
          docker pull docker pull ghcr.io/nerixyz/ci-windows-2019:1751293906
          docker run --rm -it ghcr.io/nerixyz/ci-windows-2019:1751293906 cmd /c "
            git clone https://github.com/llvm/llvm-project --depth 1 &&
            cd llvm-project &&
            set MAX_PARALLEL_COMPILE_JOBS=64 &&
            set MAX_PARALLEL_LINK_JOBS=64 &&
            call C:\\BuildTools\\Common7\\Tools\\VsDevCmd.bat -arch=amd64 -host_arch=amd64 &&
            bash .ci/monolithic-windows.sh \"llvm clang lld lldb\" check-lldb
            "
