name: Test vcpkg port

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: install nasm
        run: brew install nasm

      - name: Acquire vcpkg
        uses: actions/checkout@v4
        with:
          repository: "Microsoft/vcpkg"
          path: vcpkg

      - name: Bootstrap vcpkg
        run: "${{ github.workspace }}/vcpkg/bootstrap-vcpkg.sh"
        shell: bash

      - name: Build
        run: ${{ github.workspace }}/vcpkg/vcpkg install dav1d
        env:
          VCPKG_DEFAULT_TRIPLET: x64-osx
        shell: bash
