---
name: clang-tidy

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  clang-tidy:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0 # allows for tags access

      # LINUX
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
