---
name: Post clang-tidy review comments

on:
  workflow_run:
    workflows: ["clang-tidy"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    # Only when a build succeeds
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: Nerixyz/clang-tidy-review/post@749df926e9952f441246c895454c1d7b0fef6321
        with:
          lgtm_comment_body: ""
          num_comments_as_exitcode: false
          annotations: false
